//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: rem(7) rem(20) rem(7) rem(20);
	@extend %ffroboto;
	line-height: 1.7;
	letter-spacing: 0.35px;
	text-align: center;
	color: #fff;
	border: 1px solid $orangeColor;
	border-right: 20px solid $orangeColor;
	position: relative;
	&::before {
		position: absolute;
		left: 100%;
		top: 0;
		width: rem(20);
		height: 100%;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media (any-hover: hover) {
		&:hover {
		}
	}
}

.button-yellow {
	background-color: $orangeColor;
	color: #1b1b1b;
	font-size: rem(16);
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	column-gap: rem(10);
	padding: rem(9) rem(20);
	transition: background-color 0.3s ease 0s;
	&::before {
		color: #1b1b1b;
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: darken($orangeColor, 10%);
		}
	}
}
