//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 0px 0px;
	@media (any-hover: hover) {
		&:hover {
		}
	}
}

.button-yellow {
	background-color: $orangeColor;
	color: #1b1b1b;
	font-size: rem(16);
	display: inline-flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	column-gap: rem(10);
	padding: rem(9) rem(20);
	&::before {
		color: #1b1b1b;
	}
}
