.header {
	position: relative;
	z-index: 50;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #fff;
	}
	// .header__top
	&__top {
		position: relative;
		z-index: 10;
		@media (max-width: $mobile) {
			padding: rem(10) 0;
		}
		background-color: #303030;
	}
	// .header__container
	&__container {
	}
	// .header__bottom
	&__bottom {
		@include adaptiveValue("padding-top", 30, 15);
		@include adaptiveValue("padding-bottom", 30, 15);
		&::before {
			content: "";
			position: absolute;
			z-index: 4;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: #fff;
		}
	}
}
.top-header {
	@extend %ffroboto;
	// .top-header__body
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $secondaryColor;
	}
	// .top-header__actions
	&__actions {
		display: flex;
		align-items: center;
		column-gap: rem(20);
		row-gap: rem(10);
		@media (max-width: $mobile) {
			flex: 1 1 100%;
			justify-content: space-between;
			flex-wrap: wrap;
		}
	}
	&__phone,
	&__email {
		display: flex;
		align-items: center;
		column-gap: rem(10);
		transition: text-decoration 0.3s ease 0s;
		span {
			transition: all 0.3s ease 0s;
		}
		&::before {
			color: $orangeColor;
		}
		@media (any-hover: hover) {
			&:hover {
				span {
					text-decoration: underline;
				}
			}
		}
	}
	// .top-header__phone
	&__phone {
	}
	// .top-header__email
	&__email {
	}
	// .top-header__button
	&__button {
		@media (max-width: $mobile) {
			width: 100%;
			margin: 0 auto;
		}
	}
}
.bottom-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media (min-width: $mobile) {
		position: relative;
		z-index: 7;
	}

	// .bottom-header__logo
	&__logo {
		position: relative;
		z-index: 10;
		flex: 0 0 rem(165);
	}
	// .bottom-header__menu
	&__menu {
	}
}
.menu {
	// .menu__icon
	&__icon {
		position: relative;
		z-index: 10;
	}
	// .menu__body
	&__body {
		@media (max-width: $mobile) {
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			transition: all 0.3s ease 0s;
			overflow: auto;
			padding: rem(150) rem(15) rem(30) rem(15);
			background-color: rgba($mainColor, 0.9);
			.menu-open & {
				left: 0;
			}
		}
	}
	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		align-items: center;

		@include adaptiveValue("column-gap", 30, 0, 1140, 768, 1);
		@media (max-width: $mobile) {
			flex-direction: column;
			row-gap: rem(15);
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		font-size: rem(16);
		transition: all 0.3s ease 0s;
		border: 1px solid transparent;
		@media (any-hover: hover) {
			&:hover {
				border: 1px solid $orangeColor;
			}
		}
		@media (min-width: $mobile) {
			padding: rem(8) rem(15);
		}
		@media (max-width: $mobile) {
			font-size: rem(24);
			color: #fff;
		}
	}
}
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
//====================================================================================================
