//====================================================================================================
.page {
	// .page__main
	&__main {
		@include adaptiveValue("padding-top", 40, 20);
		@include adaptiveValue("padding-bottom", 40, 20);
		background: url("@img/main-bg.png") center / cover no-repeat;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: rgba(#000, 0.5);
		}
	}
	// .page__services
	&__services {
		@include adaptiveValue("padding-top", 60, 20);
		@include adaptiveValue("padding-bottom", 30, 20);
	}
}
.mainpage {
	// .mainpage__container
	&__container {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		// min-height: rem(500);
		@include adaptiveValue("min-height", 500, 300);
	}
	// .mainpage__body
	&__body {
		padding: rem(10) 0;
		min-width: 0;
	}
	// .mainpage__image-ibg
	&__image-ibg {
		padding-bottom: percent(500, 1920);
	}
	// .mainpage__slider
	&__slider {
		position: relative;
		padding: rem(10) rem(45);
		margin: rem(-10) rem(-45);
	}
	// .mainpage__wrapper
	&__wrapper {
	}
	// .mainpage__slide
	&__slide {
		text-align: center;
		&.swiper-slide-active {
		}
	}
	&__swiper-button-prev,
	&__swiper-button-next {
		position: absolute;
		top: 50%;
		transform: translate(0px, -50%);
		width: rem(40);
		height: rem(40);
		border: solid 1px #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		transform: translate(0px, -50%);
		@media (any-hover: hover) {
			&:hover {
				background-color: $orangeColor;
			}
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}

	// .mainpage__swiper-button-prev
	&__swiper-button-prev {
		left: rem(40);
	}
	// .mainpage__swiper-button-next
	&__swiper-button-next {
		right: rem(40);
	}
}
.slide-mainsider {
	// .slide-mainsider__content
	&__content {
		max-width: rem(665);
		margin: 0 auto;
	}
	// .slide-mainsider__title
	&__title {
		@extend %ffroboto;
		font-size: rem(30);
		@include adaptiveValue("font-size", 30, 20);
		font-weight: 500;
		line-height: 1.2;
		letter-spacing: rem(1.5);
		color: #fff;
		&:not(:last-child) {
			margin-bottom: em(24, 30);
		}
	}
	// .slide-mainsider__text
	&__text {
		font-size: rem(18);
		line-height: 1.33;
		color: $secondaryColor;
		&:not(:last-child) {
			margin-bottom: em(47, 18);
		}
	}
	// .slide-mainsider__button
	&__button {
		color: #fff;
	}
}

//====================================================================================================
.page {
}
.services {
	// .services__container
	&__container {
	}
	// .services__body
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		column-gap: rem(15);
		row-gap: rem(20);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 65, 30);
		}
	}
	// .services__info
	&__info {
		flex: 1 1 auto;
	}
	// .services__title
	&__title {
	}
	// .services__text
	&__text {
	}
	// .services__button
	&__button {
		@media (max-width: $mobileSmall) {
			width: 100%;
		}
	}
	// .services__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
		gap: rem(30);
		// display: flex;
		// flex-wrap: wrap;
		// row-gap: rem(30);
		// margin: 0 rem(-15);
	}
	// .services__item
	&__item {
		// flex: 1 1 33.333%;
		// padding: 0 rem(15);
	}
}

.item-services {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	@include adaptiveValue("padding-top", 25, 15);
	@include adaptiveValue("padding-bottom", 40, 15);
	@include adaptiveValue("padding-left", 35, 15);
	@include adaptiveValue("padding-right", 35, 15);
	box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
	background-color: #f9f9f9;
	// .item-services__icon
	&__icon {
		flex: 0 0 rem(54);
		width: rem(63);
		display: flex;
		justify-content: center;
		align-items: flex-end;
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
		img {
			max-width: 100%;
		}
	}
	// .item-services__title
	&__title {
		@extend %ffroboto;
		font-size: rem(18);
		line-height: 1.33;
		font-weight: 500;
		color: #212020;
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}
	// .item-services__text
	&__text {
		flex: 1 1 100%;
		&:not(:last-child) {
			margin-bottom: em(85, 14);
		}
	}
	// .item-services__footer
	&__footer {
		display: flex;
		flex-wrap: wrap;
		column-gap: rem(10);
		justify-content: space-between;
		align-items: center;
		align-self: stretch;
		row-gap: rem(15);
	}
	// .item-services__link
	&__link {
		color: #050505;
		line-height: 1.28;
		border-bottom: 1px solid #050505;
	}
	// .item-services__button
	&__button {
	}
}
